* {
  margin: 0;
  padding: 0;
  background-color: #090c02;
  color: white;
}

#game-name-top {
  color: #745296;
  text-align: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 20px;
}

#instr {
  color: #c2e812;
  text-align: center;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  padding-top: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.win-msg {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#prop-msg {
  font-size: 50px;
  margin-bottom: 20px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 25px;
  border: 2px solid #6184d8;
  background-color: #6184d8;
  border-radius: 6px;
  color: #090c02;
  font-weight: bolder;
}

.images {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#img1,
#img2,
#img3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d7ffab;
  font-size: 40px;
  font-family: monospace;
}

.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#player {
  display: flex;
  justify-content: center;
  gap: 55px;
  font-size: 30px;
  color: #c2e812;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#score {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.player-cont {
  color: #c2e812;
}

.score-cont1 {
  color: green;
}

.score-cont2 {
  color: red;
}

#prop-msg {
  color: #d33f49;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.disabled {
  pointer-events: none;
}


@media screen and (min-width:1380px) {
  #game-name-top {
    padding: 35px;
  }

  #instr {
    padding: 24px;
  }
  
#prop-msg {
  padding: 34px ;
  font-size: 60px;
}

button{
  height: 70px;
  width: 217px;
  border-radius: 25px;
  font-size: 30px;
  margin-bottom: 33px;
}
  
  

  #img1,
  #img2,
  #img3 {
    font-size: 50px;
  }

  .images{
    height: 250px;
    width: 250px;
  }
  * {
    font-size: 25px;
  }

  .player-cont , .score-cont1 , .score-cont2 {
    font-size: 50px ;
  }
  
}

@media screen and (max-width:1379px) {
  #game-name-top {
    padding: 15px;
  }

  #img1,
  #img2,
  #img3 {
    font-size: 35px;
  }


  #prop-msg {
    padding: 20px ;
  }
  
  button{
    height: 59px;
    width: 195px;
    border-radius: 19px;
    font-size: 28px;
    margin-bottom: 17px;
  }

  #instr {
    padding: 20px;
  }

  .images{
    height: 180px;
    width: 180px;
  }

  *{
    font-size: 15px;
  }

  .player-cont , .score-cont1 , .score-cont2 {
    font-size: 33px ;
  }


}


@media screen and (max-width : 750px) {



  #game-name-top {
    padding: 10px;
  }

  #img1,
  #img2,
  #img3 {
    font-size: 25px;
  }


  #prop-msg {
    font-size: 33px;
    padding: 9px;
  }
  
  button{
    height: 50px;
    width: 161px;
    border-radius: 17px;
    font-size: 24px;
    margin-bottom: 2px;
  }

  #instr {
    padding: 10px;
  }

  .images{
    height: 120px;
    width: 120px;
  }

  *{
    font-size: 12px;
  }

  .player-cont , .score-cont1 , .score-cont2 {
    font-size: 27px ;
  }

  .scorecard{
    margin-top: 40px;
  }


  
}

@media screen and (max-width : 550px) {

  #img1,
  #img2,
  #img3 {
    font-size: 23px;
  }

  #instr {
    padding: 5px;
  }

  .images{
    height: 100px;
    width: 100px;
  }

  *{
    font-size: 10px;
  }

  .player-cont , .score-cont1 , .score-cont2 {
    font-size: 23px ;
  }

  .scorecard{
    margin-top: 20px;
  }

  
  
}

@media screen and (max-width : 450px) {

  *{
    font-size: 7px
  }

  
  .player-cont , .score-cont1 , .score-cont2 {
    font-size: 19px ;
  }

  .scorecard{
    margin-top: 20px;
  }

  #img1,
  #img2,
  #img3 {
    font-size: 20px;
  }

  #prop-msg {
    font-size: 24px;
    padding: 11px;
  }
  
  button{
    height: 44px;
    width: 146px;
    border-radius: 17px;
    font-size: 20px;
    margin-bottom: 2px;
  }

  #instr {
    padding: 5px;
  }

  .images{
    height: 115px;
    width: 115px;
  }

  .choices{
    flex-direction: column;
    gap: 25px;
  }

  #game-name-top{
    font-weight:10px ;
  }
  
}
