* {
    margin: 0;
    padding: 0;
    background-color: #131515;
    color: aliceblue;
}



.greet{
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    margin-top: 10px;
    
    
}

#greet-cont{
    color: #B7D1DA;
}

.ask-game{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    margin-bottom: 30px;
 
}

#ask-game-cont{
    color: #95A3A4;
}

.games {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.game-name{
    font-size:35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    color: #F0C987;
    margin-top: 20px; 
}

a{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content:flex-end;
    align-items: end;
    height: 100px;
    font-size: 20px;
    font-family:serif;
}


.ttt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos {
    border-radius: 50%;
}

