* {
  margin: 0;
  padding: 0;
  background-color: #2b2c28;
}

#game_name {
  color: #339989;
  text-align: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 20px;
}

.top_container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 130px);
  gap: 10px;
}

.box {
  height: 130px;
  width: 130px;
  background-color: #b8cdf8;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 0.7rem #902d41;
  font-size: 75px;
  font-weight: bolder;
  color: #41463d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 70vh; */
  width: 20vw;
}

button {
  width: 100px;
  height: 40px;
  font-size: 25px;
  border: 2px solid #6184d8;
  background-color: #6184d8;
  border-radius: 6px;
  color: #090c02;
  font-weight: bolder;
}

#reset {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 1.5rem black;
}

.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #339989 7px solid;
  border-radius: 20px;
  box-shadow: 0 0 1.5rem black;
  height: 100px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f5fbef;
}

#player {
  display: flex;
  justify-content: center;
  gap: 55px;
  font-size: 30px;
  margin-bottom: 10px;
  color: #c2e812;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#score {
  display: flex;
  justify-content: center;
  gap: 58px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prop-msg,
#new-game {
  display: none;
}

#new-game {
  width: 170px;
  height: 60px;
  margin-bottom: 50px;
  box-shadow: 0 0 1.5rem black;
  border-radius: 20px;
  font-size: 30px;
  color: #2b2c28;
}

.prop-msg {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #abd1b5;
  border: 2px solid;
  width: 220px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 1.5rem black;
}

@media screen and (min-width : 1380px) {

  #game_name {
    font-size: 7rem;
  }

  .box {
    height: 180px;
    width: 180px;
    font-size: 110px;
  }

  .container {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);

  }

  button {
    width: 189px;
    height: 63px;
    font-size: 43px;
    border-radius: 18px;
  }

  #new-game {
    width: 223px;
    height: 76px;
    font-size: 38px;
    border-radius: 29px;

  }


  .scorecard {
    height: 187px;
    width: 231px;
  }

  #player {
    font-size: 50px;
  }

  #score {
    font-size: 50px;
  }


  .prop-msg {
    font-size: 60px;
    width: 300px;
  }
}

@media screen and (max-width : 750px) {

  .top_container {
    flex-direction: column;
    gap: 30px;
  }

  button {
    width: 237px;
    height: 69px;
    font-size: 41px;
    border-radius: 28px;
  }

  #new-game {
    width: 246px;
    height: 86px;
    font-size: 38px;
    border-radius: 24px;


  }


  .scorecard {
    height: 215px;
    width: 337px;
  }

  #player {
    font-size: 60px;
  }

  #score {
    font-size: 60px;
  }


  .prop-msg {
    font-size: 60px;
    width: 300px;
  }
}

@media screen and (max-width : 450px) {

  .top_container {
    gap: 20px;

  }

  .container {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 9px;
  }

  #game_name {
    font-size: 4rem;
  }

  .box {
    height: 90px;
    width: 90px;
    font-size: 50px;

  }

  button {
    width: 178px;
    height: 56px;
    font-size: 36px;
    border-radius: 19px;
  }

  #new-game {
    width: 174px;
    height: 55px;
    font-size: 27px;
    border-radius: 18px;


  }


  .scorecard {
    font-size: 47px;
    width: 237px;
    height: 148px;
  }

  #player {
    font-size: 40px;
  }

  #score {
    font-size: 40px;
  }


  .prop-msg {
    font-size: 60px;
    width: 300px;
  }
}